button {
    background: none !important;
}

 /* Grid spacing */
.doctor-grid {
  gap: 20px;
}

/* Card */
.doctor-card {
  display: block;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  text-decoration: none;
  color: #1f2937;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  position: relative;
}

/* Hover effect */
.doctor-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

/* Image section */
.doctor-img {
  height: 200px;
  width: 200px;
  background: linear-gradient(135deg, #e0f2fe, #f0fdfa);
  display: flex;
  object-position: center;
  border-radius: 50%;
  padding: 1rem;
  overflow: hidden;
  margin: 20px auto 0;   
}

.doctor-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    object-position: center;
     display: block;
     /* margin-left: 1rem; */
}

/* Info section */
.doctor-info {
  padding: 18px;
  text-align: center;
}

/* Doctor name */
.doctor-info h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 6px;
}

/* Specialization badge */
.specialization {
  display: inline-block;
  font-size: 0.85rem;
  padding: 6px 14px;
  border-radius: 20px;
  background: #e0f2fe;
  color: #0369a1;
  font-weight: 600;
}

.degree{
  font-size: 0.85rem;
  padding: 6px 14px;
  border-radius: 20px;
  background: #e0f2fe;
  color: #0369a1;
  font-weight: 600;
}

/* Subtle medical accent line */
.doctor-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #06b6d4, #3b82f6);
}
